* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 16px;
  /* width: 1200px; */
  min-height: 100vh;
  font-family: sans-serif;
}

.header {
  display: flex;
  margin: 0 0 12px 30px;
}

.title {
  text-align: left;
  margin: 0 12px 0 0;
}

.topLeaguesButton {
  height: 28px;
  background: #FFF;
  border: 1px solid grey;
  cursor: pointer;
}

.regionsButton {
  height: 28px;
  background: #FFF;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.topLeaguesButton.active {
  background: #FEDF8C;
}

.regionsButton.active {
  opacity: 1;
}

.europe {
  background: #1FB35F;
}
.southAmerica {
  background: #FEB74F;
}
.northAmerica {
  background: #55AFE1;
}
.asia {
  background: #F051AE;
}
.africa {
  background: #FD3A34;
}
.none {
  background: #C1C1C1;
}

.subHeader {
  margin: 0 0 0 30px;
  height: 28px;
  display: flex;
  // gap: 42px;
}
.typeWrapper {
  display: flex;
  align-items: center;
}
.subTitle {
  font-size: 16px;
  text-align: left;
  margin: 0 12px 0 0;
}
.regionsSubTitle {
  font-size: 16px;
  text-align: left;
  margin: 0 12px 0 0;
  grid-column-start: 1;
}
.ageSubTitle {
  font-size: 16px;
  text-align: left;
  margin: 0 12px 0 0;
}

.transfers {
  height: 780px;
  display: grid;
  align-items: start;
  grid-template-columns: 6fr 4fr;
}

.transfersPoints {
  position: relative;
  // border: 2px dashed #c1c2c1;
}
.transfersData {
  padding-left: 18px;
  position: relative;
  height: 780px;
  overflow-y: scroll;
  // border: 2px dashed #c1c2c1;
}

svg g text {
  // font-size: 12px;
  font-size: 9px;
}

.axisYTop {
  position: absolute;
  top: 0px;
  left: -14px;
  transform-origin: top left;
  transform: rotateZ(-90deg) translateX(-50%);

  font-size: 12px;
}

.axisYTopBorder {
  position: absolute;
  top: 0px;
  left: -1px;
  transform-origin: top left;
  transform: rotateZ(-90deg) translateX(-50%);
  height: 6px;
  width: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.axisX {
  position: absolute;
  transform: translateY(50%);
  top: 266px;
  left: 32px;

  font-size: 12px;
}

.axisYFee {
  text-align: center;
  width: 284px;
  position: absolute;
  top: 0px;
  left: -14px;
  transform-origin: top left;
  transform: rotateZ(-90deg) translateX(calc(-100% + 18px));

  font-size: 12px;
}

.axisYFeeBorder {
  position: absolute;
  // top: -18px;
  top: 0px;
  left: -1px;
  transform-origin: top left;
  transform: rotateZ(-90deg) translateX(calc(-100%));
  height: 6px;
  width: 16px;
  width: 284px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.transferInfo {
  height: 128px;
  display: none;
  position: absolute;
  padding: 0px;
  border: 1px solid #c1c1c1;
  z-index: 100;
  background: #FFFFFF;

  border-top-left-radius: 64px 64px;
  border-bottom-left-radius: 64px 64px;
}

.wrapperFlexCol {
  display: flex;
  flex-direction: column;
}
.playerImageWrapper {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  margin-top: -1px;
  margin-left: -1px;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #c1c1c1;
}

.playerImage {
  // display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 128px;
  width: 128px;
  object-fit: contain;
  border-radius: 50%;
  // border: 1px solid #c1c1c1;
}

.playerImageBg {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 128px;
  width: 128px;
}

.playerInfoWrapper {
  // margin-left: 146px;
  padding: 12px 0px 12px 12px;
  font-size: 12px;
}

#name {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: bold;
}

.playerTransfersInfoWrapper {
  margin-top: 8px;
}


.feePointsWrapper {
  margin-top: -10px;
  position: relative;
  // border: 2px solid #c1c0c0;
}

.leaguesWrapper {
  // height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#fromLeagues, #toLeagues, #nationalityData {
  // border: 2px solid #c1c0c0;
  position: relative;
}

.leaguesHeaders {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:first-child {
    margin-top: 0px;
  }
}

.leaguesSubTitle {
  font-size: 16px;
  margin: 0;
}

.flag {
  font-size: 12px;
  cursor: pointer;
}
.flagLarge {
  font-size: 14px;
  cursor: pointer;
}

.averageFeeTitle {
  position: absolute;
  transform: translateY(50%);
  font-size: 12px;
  display: none;
}

.loanButtons {
  margin-left: 16px;
}

.footer {
  margin: 26px 0 0 30px;
  font-size: 12px;
}

.link {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

#toTopCounter,
#fromTopCounter,
#insideTopCounter,
#normalTransfersCounter,
#loanTransfersCounter,
#europeCounter,
#southAmericaCounter,
#northAmericaCounter,
#asiaCounter,
#africaCounter,
#noneCounter {
  font-size: 10px;
}